<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C4-ios Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>C4-ios static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>C4-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>C4_Optest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E0E1E671BF10FB300E1E845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E0E1FC71BF111D400E1E845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAA660D1BE7D36E00A0375B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAA66171BE7D36E00A0375B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAA66411BE7DB5900A0375B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
